app-card {
    img {
        height: 100px;
        width: 100px;
        display: block;
        margin: 0 auto;
        transition: all ease 1s;
        &.spin {
            transform: rotateX(360deg);
        }
    }
}